html{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;

}

body{
    background-color: rgb(252, 176, 192);
    margin: 0;
    height: 100%;
}

h1{
    font-size: 6rem;
    text-align: center;
}

#images{
    display: block;
   
    margin-top: 10rem;
    
    place-items: center;
    text-align: center;
    margin-bottom: 10rem;

}

#images img{
    height: 28rem;
    width: 50rem;
    object-fit: cover;
    border-radius: 50%;
}

#images .arrow{
    width: 7rem;
    
}
#failed{
    display: none;
}

h3{
    font-size: 3rem;
    color: aliceblue;
    background: #202020;

}

@media only screen and (max-width: 800px) {
    html{
        font-size: 6px;
    }


    body{
        width:100%;
        margin: 0;
    }

    main{
        margin-top: 15rem ;
        width: 100%;
        
    }

    footer{
        
        bottom: 0;
        width: 100%;
    }

    h1{
        font-size: 8rem;
        
    }


    #arrow1{
        top: 103rem;
        right: 45rem;
    }
    
    #arrow2{
        width: 8rem;
        top: 94rem;
        right: 65rem;
    }
    
    #arrow3{
        width: 8rem;
        top: 116rem;
        right: 65rem;
    }

    #failed{
        display: block;
    }

    #works{
        display: none;
    }

    header{
        margin: auto 0;
    }

}



