body{
    text-align: center;
    background:linear-gradient(45deg,navy,red);
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:white;
    padding-bottom: 40px;
    border-bottom: 2px solid white;
}

form{
margin: 82.5px auto;
border: 3px solid white;
width: 40%;
border-radius: 15px;
background-color: linear-gradient(45deg,red,navy);
}

input{
    /* text-align: right; */
    display: block;
    margin: 30px auto; 
    padding: 13px 5px 13px 100px;
    border-radius: 8px;
    
}

#add,#add1{
    display: inline-block;
   border-radius: 12px;
   padding: 13px 30px;
   font-weight: bold;
}
 
#add:hover,#add1:hover{
    background-color: rgb(185, 235, 171);
}