html{
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
  }
  header{
    position: absolute;
    top: 40px;
    display: block;
    width: 80%;
    /* text-align: left; */
    font-size: 4rem;
    color: white;
    
  }

  #score{
    position: absolute;
   
    right: 1300px;
  }
#links{
  font-size: 1rem;
  padding: 10px 0;
  color: white;
  display: block;
  position: absolute;
  
  width: 20%;
}
a{
  border: 3px solid white;
  border-radius: 8px;
  box-shadow: 2px 2px white;
  color:aliceblue;
  padding: 10px 10px;
  margin: 20px 0;
  display: block;
  text-decoration: none;
}

a:visited{
  color: aliceblue;
}

  
  body.correct {
    background-color: green;
  }
  
  body.wrong {
    background-color: red;
  }
  
  .container {
    font-size: 1.5rem;
    text-align: center;
    width: 800px;
    max-width: 80%;
    background-color:honeydew;
    border-radius: 5px;

    padding: 40px 20px;
    box-shadow: 0 0 10px 2px;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {
    background-color: red;
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 15px 30px;
    color: white;
    outline: none;
    font-size: 1rem;
  }
  
  .btn:hover {
    border-color: black;
  }
  
  .btn.correct {
    background-color: green;
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }

