html{
   font-size: 10px;
   font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color:  #bcd5df8a;
}

.logo img{
    width: 10rem;
    height: 10rem;
    position: relative;
    right: calc(50% - 7.5rem);
    border-radius: 50%;
    opacity: 1;
    margin-top: 0;
}


nav{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;

}

nav a{
    margin: 2rem;
    font-size: 3.5rem;
    text-decoration: none;
    color: rgb(66, 65, 57)
    ;
}

nav a:hover{
    color: rgb(11, 5, 51);
}

a:visited{
    color: rgb(66, 65, 57);
}


