 html{
    font-family: Arial, Helvetica, sans-serif;
 }
 
 
 h2{
    font-size: 3rem;
 }
footer {
    background: linear-gradient(45deg, #191213, #3b3b4f, #191213);
    color: #FDF8F7;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0px;

}

.footerLinks {
    box-sizing: border-box;
    right: 10rem;
}

ul{
    margin: 5rem;
    padding-right: 0;
}

li {
    list-style: none;
    margin-bottom: 15px;
}

.footLinksli {
    color: #FDF8F7;
}

.footerLinks .footLinksli:hover{
    color: #b35a4f;
}

.footLinksli:visited {
    color: #FDF8F7;
}

footer a{
    font-size: 2rem;
    text-decoration: none;
}



@media only screen and (max-width: 800px){
    footer{
        display: block;
        text-align: center;
        margin: auto 0;
    }
    .bottom-border{
        border-bottom: 2px solid gray;
    }
}


/*<footer>
                <div class="footerLinks">
                    <ul class="bottom-border">
                        <h2>קישורים מהירים</h2>
                        <li><a id="hover" class="footLinksli" href="/main.html">עמוד
                                הבית</a></li>
                        <li><a class="footLinksli" href="/pages/aboutUs.html">קצת
                                עלינו</a></li>
                        <li><a class="footLinksli"
                                href="/pages/howItWorks.html">איך זה עובד</a></li>
                        <li><a class="footLinksli" href="/pages/form.html">הרשמה</a></li>
                        <li><a class="footLinksli" href="/pages/marry.html">בוגרים
                                מאושרים</a></li>
                        <li><a class="footLinksli" href="/pages/divorce.html">גרושים
                                מאושרים</a></li>
                        <li><a class="footLinksli" href="/pages/store.html">חנות</a></li>
                    </ul>
                </div>
                <div class="footerLinks">
                    <ul class="bottom-border">
                        <h2>תקנון ופרטיות</h2>
                        <li><a class="footLinksli"
                                href="/pages/sitePolicy.html">תקנון האתר</a></li>
                        <li><a class="footLinksli" href="/pages/paymentsPolicy.html">מדיניות התשלומים</a></li>
                        <li><a class="footLinksli"
                                href="/pages/sitePolicy.html">מדיניות פרטיות</a></li>
                    </ul>
                </div>
                <div class="footerLinks">
                    <ul>
                        <h2>סושיאל ופניות</h2>
                        <li><a class="footLinksli" href="facebook.com">Tindex
                                בפייסבוק</a></li>
                        <li><a class="footLinksli" href="instagram.com">Tindex
                                באינסטגרם</a></li>
                        <li><a class="footLinksli">contact@tindex.com</a></li>
                        <li><a class="footLinksli" target=_blank
                                href="https://wa.me/972502200121">צור קשר
                                ב-WhatsApp</a></li>
                    </ul>
                </div>
            </footer>*/