body{
    text-align: center;
    background:linear-gradient(45deg,navy,red);
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
}

h1{
    color:white;
    padding-bottom: 40px;
    border-bottom: 2px solid white;
}

form{
margin: 82.5px auto 220px auto;
padding-bottom: 50px;
border: 3px solid white;
width: 40%;
border-radius: 15px;
background-color: linear-gradient(45deg,red,navy);

}

input{
    display: block;
    margin: 30px auto; 
    padding: 20px 5px 20px 250px;
    border-radius: 8px;
    
}

#add,#add1{
    display: inline-block;
   border-radius: 12px;
   padding: 20px 40px;
   font-weight: bold;
}

#add{
    margin-left: 20px;
}

 
#add:hover,#add1:hover{
    background-color: rgb(185, 235, 171);
}